* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mytodo_list {
  width: 45vw;
}
input[type="text"] {
  width: 100%;
  padding: 0.2rem;
}
.btndark {
  text-align: center;
}
#addbtn {
  margin: 1rem;
  display: inline-block;
  width: 10vw;
}

#updatebtn {
  margin: 1rem;
}
.counter {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.7rem;
}

#close {
  font-size: 14px;
  cursor: pointer;
}
#updateform {
  display: none;
}
.btn {
  margin-left: 0.4rem;
  margin-bottom: 0.3rem;
}
